/* Challenge CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
}

.container {
  /* Add your styles here */
}

h1 {
  /* Add your styles here */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px ;
}

.pricing-heading {
  /* Add your styles here */
}

.pricing-container {
  
  padding: 40px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.pricing-card {
  /* Add your styles here */
  border: 2px solid #ccc;
  padding: 20px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 350px;
}

.pricing-card:hover {
  /* Add your styles here */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);

  scale: 1.008;
  transition: all 0.3s ease-in-out;
}

.pricing-card.popular {
  /* Add your styles here */
  position: relative;
  border: 2px solid orangered;
  padding: 50px 20px;
}

.popular-badge {
  position: absolute;
  /* Add your styles here */
  border: 2px solid orangered;
  padding: 8px 11px;
  background-color: orangered;
  color: white;
  border-radius: 45px;
  top: -27px;
  left: 23%;
  width: 50%;
}

.price {
  /* Add your styles here */
  font-size: xx-large;
  font-weight: bold;
}

.period {
  /* Add your styles here */
}

.features {
  /* Add your styles here */
  list-style: none;
}

.features li {
  /* Add your styles here */
  background: url('./assets/image.png') no-repeat left center;
  background-size: 20px 20px; /* Set width and height */
  padding-left: 30px; 

}


.subscribe-btn {
  /* Add your styles here */
  border: none;
  background-color: orangered;
  padding: 10px 20px;
  border-radius: 25px;
  width: 50%;
  text-align: center;
  color: #f5f5f5;
  font-weight: bold;
}

.subscribe-btn:hover {
  /* Add your styles here */
  cursor: pointer;
  color: #f5f5f5;
  background-color: rgb(201, 57, 5);
}
