/* Challenge CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
}

/* Navbar styles */
.navbar {
  /* Add styles for the navbar */
  padding: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(61, 61, 61);
  font-size: large;
  color: white;
  top: 0;
  position: sticky;
  padding-left: 50px;
  padding-right: 50px;
}

.logo {
  /* Add styles for the logo */
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.logo img {
  /* Add styles for the logo image */
  border-radius: 40px;
  height: 30px;
  width: 30px;
}

.menu {
  display: flex;
  gap: 20px;
}
.menu a {
  /* Add styles for the navigation links */
  text-decoration: none;
  color: white;
}

.menu a:hover {
  /* Add hover styles for navigation links */
}

/* Hero section styles */
.hero {
  /* Add styles for the hero section */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/chaicohort.png") no-repeat center center/cover;
  height: 60vh;
  width: 100%;
}

.hero-content {
  /* Add styles for the hero content container */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  gap: 20px;
}

.hero-content h1 {
  color: rgb(1, 255, 73);
  /* Add styles for the hero heading */
  font-size: 40px;
}

.hero-content p {
  /* Add styles for the hero paragraph */
  font-size: 18px;
}

.hero-content img {
  /* Add styles for the image in the hero section */
  border: 1.5px solid rgb(1, 255, 73);
  border-radius: 10px;

}

.enroll-button {
  /* Add styles for the enroll button */
  border-radius: 30px;
  background-color: rgb(1, 255, 73);
  border: none;
  font-weight: bold;
  padding: 20px 35px;
}

.enroll-button:hover {
  /* Add hover styles for the enroll button */
  background-color: rgb(0, 201, 57);
  cursor: pointer;
}

/* Highlights section styles */
.highlights {
  /* Add styles for the highlights section */
  padding: 20px;
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-around;
  width: 100%;
  gap: 10px;
  height: 30.8vh;
}

.highlight-card {
  /* Add styles for each highlight card */
  display:flex ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border:  1px solid rgb(1, 255, 73);
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  width: 18%;
}

.highlight-card h3 {
  /* Add styles for highlight card headings */
}

.highlight-card p {
  /* Add styles for highlight card paragraphs */
}
